@font-face {
  font-family: Inter;
  src: url("../src/assets/Inter.ttf");
}

* {
  font-family: Inter;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 15px;
  outline-offset: -2px;
  color: var(--color_primary_900);
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: var(--color_primary_50);
}

:root {
  --color_primary_50: #fafafa;
  --color_primary_100: #f5f5f5;
  --color_primary_200: #e5e5e5;
  --color_primary_300: #d4d4d4;
  --color_primary_400: #a1a1aa;
  --color_primary_500: #71717a;
  --color_primary_600: #52525b;
  --color_primary_700: #3f3f46;
  --color_primary_800: #27272a;
  --color_primary_900: #18181b;
  --color_accent: #2563eb;
  --color_accent_light: hsl(221, 83%, 56%);
  --color_accent_x_light: hsl(221, 83%, 96%);
  --color_error: #ff4d4d;

  --std_border: 1px solid var(--color_primary_300);
  --std_border_focus: 1px solid var(--color_primary_400);

  --spacing_x_small: 0.25em;
  --spacing_small: 0.5em;
  --spacing_medium: 0.70em;
  --spacing_large: 1em;
  
  --font_weight_normal: 400;
  --font_weight_medium: 500;
  --font_weight_bold: 600;
  --font_size_small: 0.9em;
  --font_size_medium: 1.1em;
  --font_size_x_large: 1.7em;

  --btn_min_height: 44.5px;
}

html, body {
  height: 100%;
  overflow: auto;
}

button {
  cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
  background-color: transparent !important;
}

.std_input {
  background-color: inherit;
  padding: var(--spacing_small);
  border: var(--std_border);
  border-radius: var(--spacing_x_small);
  text-overflow: ellipsis;
  outline: none;
}
.std_input:focus {
  border: var(--std_border_focus);
  background-color: var(--color_primary_100);
}
.std_input::placeholder {
  color: var(--color_primary_500);
}

.accent_btn {
  font-family: Mono;
  border-radius: var(--spacing_x_small);
  background-color: var(--color_accent);
  color: var(--color_primary_100);
  border: none;
  padding: var(--spacing_medium);

  min-height: var(--btn_min_height);
}
.accent_btn:hover {
  background-color: var(--color_accent_light);
}